body,
html {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

.earlybirdlogo {
    position: absolute;
    position: fixed;
    left: 147px;
    top: 20px;
    z-index: 100;
    width: 24%;
}


/* Her starter stylingen til den første side efter forsiden */

.topbar {
    position: fixed;
    z-index: 3;
}

.topbartilbage {
    position: fixed;
    z-index: 30;
}

.sortering {
    position: absolute;
    position: fixed;
    z-index: 100;
    left: 320px;
    top: 9px;
    height: 6.5%;
}


/* Billederne for Mellemrum rangeres ovenpå i hinanden med position og z-index */

.mellemrum {
    position: relative;
    margin-top: 40px;
}

.mellemrumretter {
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 90px;
}

.mellemrumbook {
    position: absolute;
    right: 40px;
    top: 530px;
    z-index: 2;
}


/* Billederne for The Burger Joint rangeres ovenpå i hinanden med position og z-index */

.theburgerjoint {
    position: relative;
}

.theburgerjointretter {
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 640px;
}

.theburgerjointbook {
    position: absolute;
    z-index: 2;
    right: 40px;
    top: 1100px;
}


/* Billederne for Karma Sushi rangeres ovenpå i hinanden med position og z-index */

.karmasushi {
    position: relative;
}

.karmasushiretter {
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 1220px;
}

.karmasushibook {
    position: absolute;
    z-index: 2;
    right: 40px;
    top: 1670px;
}


/* Billederne for LeCoq rangeres ovenpå i hinanden med position og z-index */

.lecoq {
    position: relative;
}

.lecoqretter {
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 1785px;
}

.lecoqbook {
    position: absolute;
    z-index: 2;
    right: 40px;
    top: 2240px;
}


/* Her starter stylingen af siden for Restaurant Mellemrum */

.mellemrumbaggrund {
    z-index: -2;
    margin-top: 58px;
}

_____________________________

.dropbtn {
    position: fixed;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: fixed;
    position: absolute;
    left: 10px;
    top: -1712px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #555555;
    font-family: arial;
    font-size: 13px;
    line-height: 1.3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

_____________________________ 

.fbanmeldelser{
    position: absolute;
    margin-right: 5%;
    z-index: 10;
    right: 95px;
    top: 450px;
}

.fbanmeldelser{
    position: absolute;
    margin-right: 5%;
    z-index: 10;
    right: 95px;
    top: 450px;
}

.fbanmeldelsertekst {
    position: absolute;
    color: #a1a1a1;
    font-family: arial;
    font-size: 10px;
    top: 480px;
    left: 90px;
    width: 80%;
}

.sefbanmeldelser {
    position: absolute;
    color: #555555;
    font-family: arial;
    font-size: 10px;
    top: 494px;
    left: 149px;
    width: 80%;
}

.restaurantmellemrum {
    position: absolute;
    font-family: arial;
    font-size: 16px;
    color: #555555;
    top: 540px;
    left: 50px;
}

.femstjernerafjyllandsposten {
    position: absolute;
    font-family: arial;
    font-size: 7px;
    color: #555555;
    top: 570px;
    left: 50px;
}

.mellemruminfo {
    position: absolute;
    color: #a1a1a1;
    font-family: arial;
    font-size: 10px;
    top: 600px;
    left: 50px;
    width: 75%;
    line-height: 1.3;
}


.anmeldelser {
    position: absolute;
    margin-right: 5%;
    z-index: 10;
    right: 95px;
    top: 720px;
}

.anmeldelsertekst {
    position: absolute;
    color: #a1a1a1;
    font-family: arial;
    font-size: 10px;
    top: 750px;
    left: 90px;
    width: 80%;
}

.seanmeldelser {
    position: absolute;
    color: #555555;
    font-family: arial;
    font-size: 10px;
    top: 764px;
    left: 149px;
    width: 80%;
}


.menu {
    position: absolute;
    font-family: arial;
    font-size: 13px;
    color: #555555;
    top: 830px;
    left: 50px;
}

.menutekst {
    position: absolute;
    color: #a1a1a1;
    font-family: arial;
    font-size: 10px;
    top: 860px;
    left: 50px;
    width: 75%;
    line-height: 1.3;
}

.pristekst {
    position: absolute;
    font-family: arial;
    font-size: 10px;
    top: 1080px;
    left: 50px;
    color: #555555;
    width: 85%;
    line-height: 1.3;
}

.pristekstfarve {
    color: #a1a1a1;
    font-family: arial;
    font-size: 9px;
}

.kr280 {
    float: right;
    margin-right: 55px;
}

.mellemrumbund {
    position: absolute;
    top: 1200px;
    left: 17px;
}


.antalpersoner {
    position: absolute;
    left: 50px;
    top: 1350px;
    font-family: arial;
    font-size: 13px;
    color: #555555;
}

#count {
    position: absolute;
    left: 50px;
    top: 1380px;
    outline: none !important;
}


#moins {
    position: absolute;
    left: 55px;
    top: 1405px;
    color: white;
    background-color: #a21458;
    outline: none !important;
}

#plus {
    position: absolute;
    left: 90px;
    top: 1405px;
    color: white;
    background-color: #a21458;
    outline: none !important;
}

.antalmenuer {
    position: absolute;
    left: 50px;
    top: 1460px;
    font-family: arial;
    font-size: 13px;
    color: #555555;
}

#count1 {
    position: absolute;
    left: 50px;
    top: 1490px;
    outline: none !important;
}


#moins1 {
    position: absolute;
    left: 55px;
    top: 1515px;
    color: white;
    background-color: #a21458;
    outline: none !important;
}

#plus1 {
    position: absolute;
    left: 90px;
    top: 1515px;
    color: white;
    background-color: #a21458;
    outline: none !important;
    
}

.reservation{
    position: absolute;
    top: 1300px;
    left: 180px;
    font-family: arial;
    font-size: 25px;
    color: #555555; 
}

.tidspunkt {
    position: absolute;
    top: 1350px;
    left: 260px;
    font-family: arial;
    font-size: 13px;
    color: #555555;
}


.bookogbetalknap {
    position: absolute;
    top: 1560px;
    left: 50px;
}

/* The container */

.container {
    display: block;
    position: relative;
    margin-right: 200px;
    padding-left: 20px;
    margin-bottom: 11.5px;
    cursor: pointer;
    font-size: 13px;
    font-family: arial;
    color: #555555;
    font-weight: bold;
    user-select: none;
    left: 260px;
    top: -390px;
    width: 35px;
}

/* Hide the browser's default radio button */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.container input:checked ~ .checkmark {
    background-color: #a21458;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */

.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */

.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.placering {
    position: absolute;
    font-family: arial;
    font-size: 10px;
    color: #555555;
    top: 1652px;
    left: 68px;
}

.pilkort {
    position: absolute;
    top: 1698px;
    left: 155px;
    border-radius: 3px;
    z-index: 100;
}


#map {
    position: absolute;
    top: 1700px;
    width: 92%;
    height: 350px;
    margin-left: 4%;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 100;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 100;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Her starter styling af siden "book og betal" */

.bookogbetalbaggrund {
    margin-top: 60px;
    margin-bottom: -10;
}

span {
    color: #b9156d;
}

textarea {
    font-family: arial;
    font-size: 14px;
    color: #555555;
    outline: none !important;
}

.bookogbetaltekst {
    position: absolute;
    top: 100px;
    font-family: arial;
    font-size: 20px;
    color: #555555;
    left: 50px;
    width: 60%;
}


.navn {
    position: absolute;
    font-family: arial;
    font-size: 16px;
    color: #555555;
    left: 50px;
    top: 180px;
    font-weight: bold;
}

.textarea1 {
    position: absolute;
    left: 50px;
    top: 215px;
    border-radius: 4px;
}



.email {
    position: absolute;
    font-family: arial;
    font-size: 16px;
    color: #555555;
    left: 50px;
    top: 260px;
    font-weight: bold;
}

.textarea2 {
    position: absolute;
    left: 50px;
    top: 295px;
    border-radius: 4px;
}


.mobil {
    position: absolute;
    font-family: arial;
    font-size: 16px;
    color: #555555;
    left: 50px;
    top: 340px;
    font-weight: bold;
}

.textarea3 {
    position: absolute;
    left: 50px;
    top: 375px;
    border-radius: 4px;
}


.gavekortkode {
    position: absolute;
    font-family: arial;
    font-size: 16px;
    color: #555555;
    left: 50px;
    top: 420px;
    font-weight: bold;
}

.textarea4 {
    position: absolute;
    left: 50px;
    top: 455px;
    border-radius: 4px;
}

.betalingsform {
    position: absolute;
    font-family: arial;
    font-size: 16px;
    color: #555555;
    left: 50px;
    top: 515px;
    font-weight: bold;
}

#mobilepaygraa {
    position: absolute;
    left: 50px;
    top: 555px;
}

.dankort {
    position: absolute;
    left: 50px;
    top: 635px;
}

.betalknap {
    position: absolute;
    left: 180px;
    top: 735px;
}

.betaltop {
    position: absolute;
    position: fixed;
    z-index: 11;
}

.mobilepaybaggrund {
    position: absolute;
    margin-top: 52px;
    z-index: 10;
}

.tilbagepil{
    position: absolute;
    position: fixed;
    top: 10px;
    z-index: 100;
}

.mobilepayswipe {
    position: absolute;
    left: 25px;
    top: 550px;
    z-index: 15;
}

.kvittering {
    margin-top: -10px;
}
